:root {
  /* 全局基本变量 */
  --basic-font-color: #333;
  --welcome-background-color-top: #00c23f;
  --welcome-background-color-bottom: #196970;
  --welcome-header-text-color: #fff;

  --welcome-page-card-background-color: #fff;
  --welcome-page-step-text-color: blanchedalmond;

  --welcome-page-nav-padding: 16px;

  --welcome-page-nav-height: 64px;
  --welcome-page-nav-z-index: 1;
}
